{
  "version": "1.1.0",
  "url": "https://github.com/markusbackman/bjorkloven-led/releases/download/v1.1.0/firmware.bin",
  "sha256": "b193a2e308ac8594013a06148bbc16da91eeb834aac50acf0cba10c4e8278cf1",
  "size": 1103904
}
